*{
    margin: 0%;
    padding: 0%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.class{
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.6)),url(food.jpg);
    background-position: center;
    background-size: cover;
    overflow-x: hidden;
    position: relative;  
}
.nav-bar{
    display: flex;
    padding: 40px 120px;
}
.nav-logo img{
    width: 130px;
    margin-top: -30px;
    margin-left: -70px;
}
.nav-links{
    flex: 1;
}
.nav-links ul{
    margin-left: 50px;
    display: inline;
}
.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 25px;
    color: rgb(211, 207, 202);
    
}
.nav-links ul li:hover{
    color:lawngreen;
    opacity: 10px;
}
.nav-links ul li::after{
    content: '';
    width: 0%;
    height: 1px;
    background: rgb(35, 240, 4);
    display: block;
    margin: auto;
    transition: 2s;
}
.nav-links ul li:hover:after{
    width: 100%;
}
.btn{
    padding: 10px;
    border: 0;
    border-radius: 10%;
    background:orange;
    font-weight: bold;
    cursor: pointer;
}
.nav-links .btn{
    float: right;
}
.banner-title{
    margin: 70px 120px;
    color: #fff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    align:margin-left;
}


